<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/decor.css">
</head>
<body>
<div class="container">
    <div class="header">
        <p class="my_shop">
            <img src="/static/img/totoro_icon2.png" alt="shop-icon" title="Мой магазин" width="70px" height="70px"/>
            Мой магазин
        </p>
        <ul class="menu_markertype">
            <li><a href="/" class="active">Главная</a></li>
            <li><a href="/catalog/">Каталог</a></li>
            <li><a href="/contacts/">Контакты</a></li>
        </ul>
    </div>
    <div class="main">
        <hr>
        <h1>
            Каталог
        </h1>
        <a href="totoro.html"><img src="/static/img/totoro.jpg" alt="totoro" title="Мягкая игрушка Тоторо" width="200" height="200"/></a>
        <p>
            Добрый дух-хранитель леса из мультфильма "Мой сосед Тоторо"
        </p>
        <p>
            <a href="totoro.html">Мягкая игрушка Тоторо</a>
        </p>

        <a href="buscat.html"><img src="/static/img/buscat.jpg" alt="buscat" title="Мягкая игрушка Котобус" width="200" height="200"/></a>
        <p>
            Кот в форме автобуса из мультфильма "Мой сосед Тоторо"
        </p>
        <p>
        <a href="buscat.html">Мягкая игрушка Котобус</a>
        </p>
    </div>
    <div class="footer">
        <p>
            &copy; "Все права защищены"
        </p>
    </div>
</div>
</body>
</html>